body {
  background-color: rgb(234, 241, 248);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

:root {
  --blue: #0b0b76;
  --dark_blue: #040770;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar .nav-link {
  margin-left: 60px;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

.nav-bar #partner-btn {
  font-size: 16px;
  margin: 10px;
}

#contact-btn,
#connect-btn,
#try-btn,
#footer-btn,
#referral-btn {
  border-radius: 50px;
  font-size: 18px;
  padding: 15px 32px;
  color: var(--blue);
}

#footer-btn,
#referral-btn,
#connect-btn {
  background-color: #90ee90;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 5px 15px 10px#7676761b;
  border: 0px solid;
}

.referral .inner-referral #referral-btn {
  padding: 10px 2px;
  height: 50px;
  width: 19%;
  border-color: var(--blue);
}

.nav-bar #contact-btn {
  background-color: var(--blue);
  color: white;
  padding: 10px 30px;
  box-shadow: 1px 15px 20px#5c73f56e;
  border: var(--blue);
}

.primary-section #try-btn {
  background-color: rgb(248, 248, 250);
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: 50px;
  border: 1px solid var(--blue);
}

.primary-section {
  float: left;
  text-align: left;
  margin-left: 120px;
  max-width: 860px;
}

.primary-section #primary-title {
  font-size: 60px;
  color: var(--blue);
  font-weight: bolder;
}

.primary-section #primary-title #green-underline {
  text-decoration: underline;
  text-decoration-color: #90ee90dc;
  text-decoration-thickness: 10px;
  text-underline-offset: 65px;
}

.primary-section #primary-para {
  font-size: 18px;
  color: #16168a;
  position: relative;
  bottom: 25px;
  line-height: 1.5;
}

.phone-img {
  width: 35%;
  max-width: 75%;
  position: relative;
  left: 180px;
}

.content-parent,
.content-parent .content-child {
  box-sizing: border-box;
  height: 300px;
  max-width: 960px;
  border-radius: 10px;
}

.content-parent {
  margin: 50px auto;
  min-width: 20px;
  padding: 40px;
  background: linear-gradient(to right, blue 25%, red 50%, blue 75%);
  border: 3px solid;
  box-shadow: 5px 10px 20px#888888;
  border-color: white;
}

.content-parent .content-child {
  background-color: white;
  opacity: 90%;
  padding: 10px;
  margin: -4.8%;
}

.content-parent .content-child #content-para {
  word-spacing: 4px;
  line-height: 1.8;
  font-size: 24px;
  font-weight: 500;
}

.we-save-you #we-save-you-title {
  font-size: 35px;
  font-weight: bold;
  margin: 60px;
}

.we-save-you .grid-container,
.our-partners .partners-grid,
.footer-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
  gap: 25px;
  max-width: 1280px;
  margin: 0 auto;
}

.footer-grid-container {
  padding: 20px;
}

.we-save-you .grid-container .grid-time,
.we-save-you .grid-container .grid-money,
.we-save-you .grid-container .grid-setting,
.our-partners .partners-grid .partners-item {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 15px 15px 45px #58505046;
  margin: 0 auto;
}

.our-partners .partners-grid .partners-item {
  border: 2px solid white;
  border-radius: 20px;
  width: 80%;
}

.contact-footer,
.referral {
  display: flex;
  align-items: center;
}

.footer {
  margin: 0 10% 0 10%;
}

.contact-footer {
  justify-content: space-between;
}

.referral {
  background: linear-gradient(to bottom right, #00cc66 35%, #008d36 100%);
  height: 700px;
  justify-content: center;
}

.referral .inner-referral {
  width: 1000px;
  height: 500px;
  background-color: white;
  border-radius: 0.3cm;
  text-align: left;
  color: var(--blue);
  border-bottom: 7px solid var(--blue);
  padding: 50px;
  font-size: 150%;
  background-color: rgb(196, 253, 234);
  line-height: 1.5;
}

.we-save-you .grid-container .grid-money #fa-money-check-dollar {
  color: red;
  text-shadow: 3px 3px 15px rgba(255, 0, 0, 0.6);
}

.we-save-you .grid-container .grid-setting #fa-cog {
  color: green;
  text-shadow: 3px 3px 15px rgba(0, 128, 0, 0.6);
}

.our-partners .star-img1,
.our-partners .star-img2 {
  width: 70px;
  padding: 50px;
}

.step-process {
  background: url(../Img/skyblue.jpg);
  margin-top: 48px;
  height: 700px;
  padding: 10px;
}

.process-title {
  text-align: center;
}

.process-flex1,
.process-flex2 {
  display: flex;
  justify-content: center;
}

.process-step1,
.process-step2,
.process-flex2>div,
#car-img {
  background-color: #0400ff33;
  width: 230px;
  margin: 10px;
  text-align: left;
  line-height: 25px;
  font-size: 16px;
  padding: 25px;
  border-radius: 10px;
}

#car-img {
  padding: 35px;
  border-radius: 280px;
  text-align: center;
}

.car-img,
#car-img {
  width: 180px;
}

.our-partners .star-img1 {
  float: left;
}

.our-partners .star-img2 {
  margin-left: 1100px;
}

.our-partners .partners-grid .partners-item .grid-img2 {
  width: 55%;
}

.our-partners .partners-grid .partners-item .grid-img1 {
  width: 80%;
}

.we-save-you .grid-container .grid-time {
  border-bottom: 4px solid #ffcc00;
}

.we-save-you .grid-container .grid-money {
  border-bottom: 4px solid red;
}

.we-save-you .grid-container .grid-setting {
  border-bottom: 4px solid green;
}

.nav-bar .header-title,
.footer-title,
#partner-btn,
#content-para,
#we-save-you-title,
#we-save-you-para,
#partners-heading,
#partners-para {
  color: var(--dark_blue);
}

a:visited,
a:link {
  color: #040870ce;
}

a:hover {
  color: var(--dark_blue);
  border-bottom: 3px solid var(--dark_blue);
}

#we-save-you-para {
  font-size: 22px;
}

#fa-twitter {
  color: #00acee;
}

#fa-facebook {
  color: #3b5998;
}

#fa-linkedin {
  color: #0a66c2;
}

.white-heading {
  font-size: large;
}

#partners-para {
  font-size: 25px;
}

#partners-heading {
  font-size: 50px;
}

.header-title {
  font-size: 30px;
}

.yellow-heading {
  font-size: x-large;
}

.white-para,
#white-para,
.white-heading,
.process-title {
  color: white;
}

#white-para {
  border-bottom: 1px solid white;
}

#yellowclick {
  border-bottom: 2px solid #ffcc00;
  color: #ffcc00;
}

#clickhere,
.yellow-heading,
#fa-clock {
  color: #ffcc00;
  border-bottom: 0px;
}

#fa-clock {
  text-shadow: 3px 3px 15px #ffcc00da;
}

#user-btn,
.mobile-nav-link,
.hidden-step-process {
  display: none;
}

#we-save-you-para,
#partners-heading,
#partners-para,
.we-save-you .grid-container .grid-time,
.we-save-you .grid-container .grid-money,
.we-save-you .grid-container .grid-setting,
.partners-item,
.about-grid,
.grid-query {
  color: var(--blue);
}

#content-para,
#we-save-you-title,
#we-save-you-para,
#partners-heading,
#partners-para,
.we-save-you .grid-container .grid-time,
.we-save-you .grid-container .grid-money,
.we-save-you .grid-container .grid-setting,
.partners-item {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .nav-bar #partner-btn {
    font-size: 14px;
    left: 5px;
    width: 70px;
  }

  .nav-bar #contact-btn {
    padding: 10px 20px;
    font-size: 14px;
    width: 160px;
  }

  .phone-img {
    width: 70%;
    left: 120px;
  }

  .content-parent .content-child {
    padding: 18px;
    position: relative;
    bottom: 14px;
    right: 12px;
  }

  .footer-grid-container {
    padding: 1px;
    width: 800px;
    margin: 10px;
  }

  .referral .inner-referral {
    width: 500px;
    font-size: 120%;
  }

  .our-partners .star-img1,
  .our-partners .star-img2 {
    width: 70px;
    padding: 20px;
  }

  .our-partners .star-img2 {
    padding: 10px;
    margin-left: 550px;
  }

  .primary-section {
    left: 50px;
  }

  .contact-footer {
    justify-content: left;
    gap: 200px;
  }

  .partners-item {
    width: 60%;
  }

  .partners-grid {
    padding: 30px;
  }

  .primary-section #try-btn {
    left: 200px;
  }

  .content-parent,
  .content-child {
    width: 660px;
  }

  .content-parent .content-child #content-para {
    font-size: 18px;
  }

  .referral .inner-referral #referral-btn {
    width: 40%;
  }
}

@media only screen and (max-width: 360px) {
  body {
    font-size: 8px;
    width: 100%;
  }

  .primary-section #connect-btn,
  .primary-section #try-btn {
    padding: 4px 10px;
    font-size: 10px;
    width: 120px;
    height: 30px;
  }

  .we-save-you .grid-container .grid-time,
  .we-save-you .grid-container .grid-money,
  .we-save-you .grid-container .grid-setting {
    max-width: 160px;
    max-height: 160px;
    font-size: 12px;
  }

  .primary-section {
    width: 320px;
    position: relative;
    left: -100px;
  }

  .phone-img {
    width: 50%;
    left: 80px;
  }

  .content-parent,
  .content-parent .content-child {
    height: 270px;
    width: 340px;
  }

  .content-parent .content-child {
    padding: 14px;
    margin-left: -28px;
    margin-top: -28px;
  }

  .content-parent .content-child #content-para {
    font-size: 13px;
    text-align: justify;
  }

  .our-partners .partners-grid {
    margin: 40px;
    width: 180px;
  }

  .contact-footer {
    right: 10px;
    padding-top: 20px;
  }

  .contact-footer #footer-btn {
    font-size: 8px;
    left: 33px;
    width: 140px;
    height: 30px;
    padding: 10px;
  }

  .footer-grid-container {
    padding: 10px;
    width: 10px;
    font-size: 13px;
  }

  .referral .inner-referral {
    height: 450px;
    padding: 30px;
    font-size: 15px;
    margin: 0 20px;
  }

  .referral .inner-referral #referral-btn {
    font-size: 10px;
    width: 140px;
    height: 35px;
  }

  .white-heading {
    color: white;
    font-size: small;
  }

  .hidden-step-process {
    display: block;
    background: url(../Img/skyblue.jpg);
    margin-top: 30px;
    height: 1450px;
    padding: 10px;
  }

  .process-flex1,
  .process-flex2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px;
    gap: 20px;
    max-width: 1280px;
  }

  .nav-bar {
    justify-content: space-between;
  }

  .nav-bar .header-title {
    font-size: 32px;
    margin-top: 10px;
  }

  .nav-bar a {
    margin-left: 250px;
    float: right;
    display: none;
    padding: 5px;
    text-align: right;
    font-size: 12px;
    text-decoration: none;
  }

  #user-btn {
    display: block;
    margin-top: -55px;
    margin-left: 280px;
  }

  .mobile-nav-link {
    display: grid;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
  }

  .nav-bar a.menu-bar {
    float: right;
    display: block;
  }

  .nav-bar.responsive .menu-bar {
    position: absolute;
    right: 2px;
    top: 15px;
  }

  .menu-bar {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 15px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 24px;
    height: 2px;
    background-color: var(--dark_blue);
    margin: 6px 0;
    transition: 0.4s;
  }

  .referral {
    height: 650px;
  }

  .content-parent {
    margin: 10px auto;
  }

  .primary-section #try-btn {
    left: 60px;
  }

  .nav-bar.responsive a {
    display: grid;
  }

  .we-save-you #we-save-you-title {
    font-size: 20px;
  }

  .nav-bar.responsive a:hover {
    color: red;
  }

  .contact-footer .footer-title {
    font-size: 20px;
  }

  .primary-section #primary-title {
    font-size: 35px;
  }

  .primary-section #primary-para {
    font-size: 14px;
  }

  .our-partners #partners-heading {
    font-size: 25px;
  }

  .our-partners .partners-grid .partners-item {
    width: 60%;
  }

  .change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
  }

  .we-save-you #we-save-you-para,
  .our-partners #partners-para {
    font-size: 15px;
  }

  .primary-section #primary-title #green-underline {
    text-underline-offset: 35px;
  }

  .contact-footer .footer-title,
  .nav-bar.responsive a,
  .nav-bar a.menu-bar {
    color: var(--dark_blue);
  }

  .contact-footer {
    justify-content: left;
    gap: 50px;
  }

  #white-para {
    font-size: 14px;
  }

  .yellow-heading {
    font-size: medium;
  }

  .nav-link,
  #partner-btn,
  #contact-btn,
  .star-img1,
  .step-process {
    display: none;
  }
}